<div class="row">
    <div class="col-md-12">
        <div class="profile-container">

			<div data-ng-include=" 'views/perfil/usuario/perfil-usuario.html' "></div>

			<div data-ng-include=" 'views/perfil/opcoes/perfil-opcoes.html' "></div>

        </div>
    </div>
</div>

<div data-ng-include=" 'views/perfil/usuario/usuario-alterar-foto-template.html' "></div>
<div data-ng-include=" 'views/perfil/usuario/usuario-editar-perfil-template.html' "></div>
<div data-ng-include=" 'views/perfil/opcoes/desenvolvimento/usuario-desenvolvimento-adicionar-backlog-template.html' "></div>
<div data-ng-include=" 'views/perfil/opcoes/comercial/usuario-comercial-definir-metas-template.html' "></div>