<!-- Page Sidebar Header-->
<div class="sidebar-header-wrapper">
    <div class="searchinput"></div>
</div>
<!-- /Page Sidebar Header -->
<!-- Sidebar Menu -->
<ul class="nav sidebar-menu">
    <!--Desenvolvimento-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-code"></i>
            <span class="menu-text"> Desenvolvimento </span>

            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="desenvolvimento.evolucao">
                    <span class="menu-text">Evolução</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="desenvolvimento.atividades">
                    <span class="menu-text">Atividades</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="desenvolvimento.colaboradores">
                    <span class="menu-text">Colaboradores</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="desenvolvimento.suporte">
                    <span class="menu-text">Suporte</span>
                </a>
            </li>
        </ul>
    </li>
    <!--Suporte-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-users"></i>
            <span class="menu-text"> Suporte </span>

            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="suporte.evolucao">
                    <span class="menu-text">Evolução</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="suporte.chamados">
                    <span class="menu-text">Chamados</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="suporte.colaboradores">
                    <span class="menu-text">Colaboradores</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="suporte.categorias">
                    <span class="menu-text">Categorias</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="suporte.implantacoes">
                    <span class="menu-text">Implantações</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="suporte.avaliacao">
                    <span class="menu-text">Avaliação</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="suporte.clientes">
                    <span class="menu-text">Clientes</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="suporte.desenvolvimento">
                    <span class="menu-text">Desenvolvimento</span>
                </a>
            </li>
        </ul>
    </li>
    <!--Integração Contínua-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-refresh"></i>
            <span class="menu-text"> Integração Contínua </span>

            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="integracao-continua.builds">
                    <span class="menu-text">Builds</span>
                </a>
            </li>
        </ul>
    </li>
    <!--Comercial-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-briefcase"></i>
            <span class="menu-text"> Comercial </span>

            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="comercial.oportunidades">
                    <span class="menu-text">Oportunidades</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="comercial.implantacoes">
                    <span class="menu-text">Implantações</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="comercial.clientes">
                    <span class="menu-text">Clientes</span>
                </a>
            </li>
        </ul>
    </li>
    <!--Financeiro-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-dollar"></i>
            <span class="menu-text"> Financeiro </span>

            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="financeiro.evolucao">
                    <span class="menu-text">Evolução</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="financeiro.faturamento">
                    <span class="menu-text">Faturamento</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="financeiro.contratos">
                    <span class="menu-text">Contratos</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="financeiro.clientes">
                    <span class="menu-text">Clientes</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
<!-- /Sidebar Menu -->
