<div class="row profile-opcoes">
    <div class="col-md-12">
        <h6 class="row-title no-margin-top">CONFIGURAÇÕES</h6>
    </div>
    <div ng-controller="DevAdicionarBacklogCtrl">
        <div class="col-md-4">
            <div class="well with-header">
                <div class="header bordered-themefifthcolor">Lista de Atividades do Backlog</div>
                <button class="btn btn-default" ng-click="open('','ModalAdicionarBacklog.html', 'sm')">Adicionar</button>
            </div>
        </div>
    </div>

    <!--<div class="col-md-12">-->
        <!--<h6 class="row-title no-margin-top">RELATÓRIOS</h6>-->
    <!--</div>-->
    <!--<div ng-controller="DevRelatorioCtrl">-->
        <!--<div class="col-md-5">-->
            <!--<div class="well with-header">-->
                <!--<div class="header bordered-themefifthcolor">Relatório Desenvolvimento</div>-->
                <!--<indicadores-dropdown label="Versão" item="versaoRelatorio" itens="versoes" acao="alteraVersao(id)"></indicadores-dropdown>-->
                <!--<button ng-disabled="versaoRelatorio == undefined" class="btn btn-default" ng-click="abrir(versaoRelatorio, gerar)">Gerar Relatório</button>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div ng-show="abrePainelCharts" class="col-md-8">-->
            <!--<div ng-disabled="abrePainelCharts" id="atividades-por-tipo-chart" class="chart chart-xxl"></div>-->
            <!--<div ng-disabled="abrePainelCharts" id="atividades-por-projeto-chart" class="chart chart-xxl"></div>-->
            <!--<div ng-disabled="abrePainelCharts" id="atividades-por-origem-chart" class="chart chart-xxl"></div>-->
        <!--</div>-->
    <!--</div>-->
</div>