<div data-ng-include=" 'modules/versao/views/versao.html' "></div>

<div class="row">

    <div ng-controller="DevAtividadesPorTipoCtrl">
        <indicadores-databox label="Total de Atividades Por Tipo"
                             ng-class="(!($root.projeto == 'Noov') ? 'col-md-6 col-sm-12 col-xs-12' : 'col-md-12 col-sm-12 col-xs-12')">
            <div id="atividades-por-tipo-chart" class="chart chart-xl no-margin"></div>
        </indicadores-databox>
    </div>

    <div ng-if="!($root.projeto == 'Noov')">
        <div ng-controller="DevAtividadesPorProjetoCtrl">
            <indicadores-databox label="Total de Atividades Por Projeto"
                                 class="col-md-6 col-sm-12 col-xs-12">
                <div id="atividades-por-projeto-chart" class="chart chart-xl no-margin"></div>
            </indicadores-databox>
        </div>
    </div>

</div>

<div class="row">

    <div ng-if="!($root.projeto == 'Noov')">
        <div ng-controller="DevAtividadesPorOrigemCtrl">
            <indicadores-databox label="Total de Atividades Encerradas Por Origem"
                                 class="col-md-12 col-sm-12 col-xs-12">
                <div id="atividades-por-origem-chart" class="chart chart-xl no-margin"></div>
            </indicadores-databox>
        </div>
    </div>

</div>
<div class="row">

    <div ng-controller="DevAtividadesNaoLiberadasCtrl">
        <div ng-if="loaded">
            <indicadores-databox label="Atividades Não Liberadas" class="col-md-12 col-sm-12 col-xs-12">
                <indicadores-datatable ajax="query" columns="columns" columns-defs="columnsDefs"
                                       type="full" order="order"></indicadores-datatable>
            </indicadores-databox>
        </div>
    </div>

</div>