<div data-ng-include=" 'modules/versao/views/versao.html' "></div>

<div class="row">

    <div ng-controller="DevAtividadesPorTipoCtrl">
        <indicadores-databox label="Total de Atividades Por Tipo"
                             class="col-md-6 col-sm-12 col-xs-12">
            <indicadores-chart chart-id="atividades-por-tipo-chart" chart-class="chart chart-xl no-margin"
                               type="pie" source="dadosAtividadesPorTipo"></indicadores-chart>
        </indicadores-databox>
    </div>

    <div ng-controller="DevAtividadesPorProjetoCtrl">
        <indicadores-databox label="Total de Atividades Por Projeto"
                             class="col-md-6 col-sm-12 col-xs-12">
            <indicadores-chart chart-id="atividades-por-projeto-chart" chart-class="chart chart-xl no-margin"
                               type="pie" source="dadosAtividadesPorProjeto"></indicadores-chart>
        </indicadores-databox>
    </div>

</div>

<div class="row">

    <div ng-controller="DevAtividadesPorOrigemCtrl">
        <indicadores-databox label="Total de Atividades Encerradas Por Origem"
                             class="col-md-12 col-sm-12 col-xs-12">
            <indicadores-chart chart-id="atividades-por-origem-chart" chart-class="chart chart-xl no-margin"
                               type="pie" source="dadosAtividadesPorOrigem"></indicadores-chart>
        </indicadores-databox>
    </div>

</div>
<div class="row">

    <div ng-controller="DevAtividadesNaoLiberadasCtrl">
        <div ng-if="loaded">
            <indicadores-databox label="Atividades Não Liberadas" class="col-md-12 col-sm-12 col-xs-12">
                <indicadores-datatable ajax="query" columns="columns" columns-defs="columnsDefs"
                                       type="full" order="order"></indicadores-datatable>
            </indicadores-databox>
        </div>
    </div>

</div>