<div data-ng-include=" 'modules/mes/views/mes.html' "></div>

<div class="row">

    <div ng-controller="SupImplantacoesResumoCtrl">
        <indicadores-databox label="Resumo" class="col-md-12 col-sm-12 col-xs-12">
            <indicadores-summary percentage="implantacoes.porcentagem" value="implantacoes.mesAnteriorValor">
                {{implantacoes.valor}} implantações encerradas em {{implantacoes.mes}}
            </indicadores-summary>
        </indicadores-databox>
    </div>

</div>

<div class="row">

    <div ng-controller="SupAquisicoesPorCategoriaCtrl">
        <indicadores-databox label="Aquisições por Categoria"
                             class="col-md-6 col-sm-12 col-xs-12">
            <div id="aquisicoes-por-categoria-chart" class="chart chart-xl no-margin"></div>
        </indicadores-databox>
    </div>

    <div ng-controller="SupImplantacoesPorCategoriaCtrl">
        <indicadores-databox label="Implantações por Categoria"
                             class="col-md-6 col-sm-12 col-xs-12">
            <div id="implantacoes-por-categoria-chart" class="chart chart-xl no-margin"></div>
        </indicadores-databox>
    </div>

</div>

<div class="row">

    <div ng-controller="SupImplantacoesEncerradasCtrl">
        <indicadores-databox label="Implantações Encerradas no Período" class="col-md-12 col-sm-12 col-xs-12">
            <indicadores-datatable ajax="query" columns="columns" columns-defs="columnsDefs"
                                   type="full"></indicadores-datatable>
        </indicadores-databox>
    </div>

</div>

<div class="row">

    <div ng-controller="SupImplantacoesEmAtendimentoCtrl">
        <indicadores-databox label="Implantações Em Atendimento" class="col-md-12 col-sm-12 col-xs-12">
            <indicadores-datatable ajax="query" columns="columns" columns-defs="columnsDefs"
                                   type="full"></indicadores-datatable>
        </indicadores-databox>
    </div>

</div>

<div class="row">

    <div ng-controller="SupSolicitacoesComCobrancaCtrl">
        <indicadores-databox label="Solicitações com Cobrança" class="col-md-8 col-sm-12 col-xs-12">
            <indicadores-datatable ajax="query" columns="columns" columns-defs="columnsDefs"
                                   type="lite" has-footer="true" length="100"></indicadores-datatable>
        </indicadores-databox>
    </div>

    <div ng-controller="SupTotalSolicitacoesComCobrancaCtrl">
        <indicadores-databox label="Total" class="col-md-4 col-sm-12 col-xs-12">
            <div ng-repeat="dado in dados">
                <strong>{{dado.mes}}</strong>
                <div ng-if="$first">
                    <h1>{{dado.valor}}
                        <span class="badge badge-{{dado.porcentagem.color}}">
                            <i class="fa {{dado.porcentagem.icon}}"></i> {{dado.porcentagem.value}}%
                        </span>
                    </h1>
                </div>
                <div ng-if="!$first">
                    <h3>{{dado.valor}}
                        <span class="badge badge-{{dado.porcentagem.color}}">
                            <i class="fa {{dado.porcentagem.icon}}"></i> {{dado.porcentagem.value}}%
                        </span>
                    </h3>
                </div>
                <br>
            </div>
        </indicadores-databox>
    </div>

</div>